<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Rafael Correa">
        <meta name="keywords" content="contratos, clientes, omni">
        <meta name="description" content="Pagina de consulta de clientes">
        <title>Omni</title>
        <link th:replace="~{common/imports :: importCSS}">
    </head>
    <body class="fonte-montserrat">
        <header th:replace="~{common/navbar :: navbar}"></header>

        <article class="container">
            <section class="my-3">
                <h1 class="text-center text-azul-omni mb-2">Alteração do Projeto</h1>
                <form class="row" th:object="${projetoDTO}" th:action="@{/alterarProjeto/{id}(id=${projeto.id})}" method="post">
                    <div class="col-md-12">
                        <label for="inputNomeProjeto" class="form-label text-azul-omni">Nome do Projeto</label>
                        <input th:value="${projeto.nomeProjeto}" name="nomeProjeto" type="text" th:errorClass="is-invalid" class="form-control mb-2" id="inputNomeProjeto">
                        <small class="invalid-feedback" th:errors="*{nomeProjeto}">mensagem de erro</small>
                    </div>
                    <div class="col-md-6">
                        <label for="inputDepartamento" class="form-label text-azul-omni">Departamento</label>
                        <select id="inputDepartamento" name="departamento" class="form-select col mb-2">
                            <option th:value="${projeto.departamento.name()}"><small th:text="${projeto.departamento.name()}"></small></option>
                            <option th:classappend="${projeto.departamento.name()} == 'DEPARTAMENTO_01' ? 'd-none'" value="DEPARTAMENTO_01">DEPARTAMENTO_01</option>
                            <option th:classappend="${projeto.departamento.name()} == 'DEPARTAMENTO_02' ? 'd-none'" value="DEPARTAMENTO_02">DEPARTAMENTO_02</option>
                            <option th:classappend="${projeto.departamento.name()} == 'DEPARTAMENTO_03' ? 'd-none'" value="DEPARTAMENTO_03">DEPARTAMENTO_03</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="inputRegulatorio" class="form-label text-azul-omni">Regulatório</label>
                        <select id="inputRegulatorio" name="regulatorio" class="form-select col mb-2">
                            <option th:value="${projeto.regulatorio}"><small th:text="${projeto.regulatorio} ? 'SIM' : 'NÃO'" ></small></option>
                            <option th:value="${!projeto.regulatorio}"><small th:text="${!projeto.regulatorio} ? 'SIM' : 'NÃO'" ></small></option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label for="inputAnaliseSituacaoAtual" class="form-label text-azul-omni">Análise da Situação Atual</label>
                        <textarea th:text="${projeto.analiseSituacaoAtual}" name="analiseSituacaoAtual" class="form-control mb-2" id="inputAnaliseSituacaoAtual" rows="3"></textarea>
                    </div>
                    <div class="col-md-12">
                        <label for="inputDescricaoSituacaoDesejada" class="form-label text-azul-omni">Descrição Situação Desejada</label>
                        <textarea th:text="${projeto.descricaoSituacaoDesejada}" name="descricaoSituacaoDesejada" class="form-control mb-2" id="inputDescricaoSituacaoDesejada" rows="3"></textarea>
                    </div>
                    <div class="col-md-12">
                        <label for="inputDescricaoSolucao" class="form-label text-azul-omni">Descrição da Solução</label>
                        <textarea th:text="${projeto.descricaoSolucao}" name="descricaoSolucao" class="form-control mb-2" id="inputDescricaoSolucao" rows="3"></textarea>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center my-3">
                        <button type="submit" class="btn btn-laranja-claro-omni">Cadastrar</button>
                    </div>
                </form>
            </section>
        </article>

        <footer th:replace="~{common/footer :: footer}"></footer>
        <div th:replace="~{common/imports :: importJs}"></div>
    </body>
</html>