<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Rafael Correa">
        <meta name="keywords" content="contratos, clientes, omni">
        <meta name="description" content="Pagina de consulta de clientes">
        <title>Omni</title>
        <link th:replace="~{common/imports :: importCSS}">
    </head>
    <body class="fonte-montserrat">
        <header th:replace="~{common/navbar :: navbar}"></header>

        <article class="container">
            <section class="col-md-8 m-auto">
                <h1 class="mt-4 text-center text-danger">Erro</h1>
                <p th:text="${msg}" class="m-0 text-azul-omni text-center" style="font-size: 1.5em;"></p>
            </section>
        </article>

    <div th:replace="~{common/imports :: importJs}"></div>
    </body>
</html>