<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Rafael Correa">
        <meta name="keywords" content="contratos, clientes, omni">
        <meta name="description" content="Pagina de consulta de clientes">
        <title>Omni</title>
        <link th:replace="~{common/imports :: importCSS}">
    </head>
    <body class="fonte-montserrat">
        <header th:replace="~{common/navbar :: navbar}"></header>

        <article class="container">
            <section class="my-3">
                <h1 class="text-center text-azul-omni mb-2">Projetos</h1>
                <table class="table bg-cinza-claro-omni ">
                    <thead class="thead-cinza-omni">
                    <tr class="text-center">
                        <th scope="col">Nome do projeto</th>
                        <th scope="col">Data de solicitação</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="projeto : ${projetos}">
                        <td th:text="${projeto.nomeProjeto}">Nome do Projeto</td>
                        <td th:text="${#temporals.format(projeto.dataSolicitacao, 'dd/MM/yyyy')}" class="text-center">Data de solicitação</td>
                        <td th:text="${projeto.departamento.name()}" class="text-center">Departamento</td>
                        <td class="text-center">
                            <a th:href="@{/projeto/{id}(id=${projeto.id})}" class="btn btn-azul-omni btn-sm my-1">Detalhes</a>
                            <a th:href="@{/alterar/{id}(id=${projeto.id})}" class="btn btn-laranja-escuro-omni btn-sm my-1">Alterar</a>
                            <a th:href="@{/excluir/{id}(id=${projeto.id})}" class="btn btn-danger btn-sm my-1">Excluir</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </article>

    <div th:replace="~{common/imports :: importJs}"></div>
    </body>
</html>